h1 {
  text-align: center;
}

.form-container {
  width: 50%;
  margin: 4% auto;
  text-align: center;
  border: 1px solid;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  margin: 2% 0;
}
.toppings h3 {
  background-color: lightgray;
  border: 1px solid;
}